NODE_ENV=production
PORT=10000
HOST=0.0.0.0

MONGODB_URI=mongodb://USER:PASSWORD@host1:27017,host2:27017/ehsan-portfolio?ssl=true&replicaSet=REPLICA_SET&authSource=admin

JWT_SECRET=use-a-long-random-secret
JWT_EXPIRES_IN=7d

# Render → Environment Variables
CORS_ORIGIN=https://ehsanmor.ir,https://www.ehsanmor.ir
ALLOW_VERCEL_PREVIEW=true
